!!! hmtl
%html
  %head
    %title
      MongoProcessing
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %canvas#canvas{'data-processing-sources' => '/assets/mongo_processing/application.pde /assets/mongo_processing/basic_graph_object.pde /assets/mongo_processing/graph.pde /assets/mongo_processing/node.pde /assets/mongo_processing/edge.pde'}
